

<div class="bg-white pt-24 ">
  <div class="mx-auto max-w-7xl px-6 lg:px-2">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-red-600">About Us</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">TRENDIX – Where Fashion Meets Elegance</p>
      <p class="mt-6 text-lg leading-6 text-gray-600">
        Welcome to TRENDIX, your go-to destination for stylish and high-quality clothing. Our store is dedicated to offering the latest fashion trends for men, women, and children, ensuring that everyone can find something they love. We believe that fashion is a way to express yourself, which is why we carefully select our collections to suit all styles and occasions. </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-12 lg:max-w-4xl">
     
        <div class="grid grid-cols-1 gap-x-10 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 xl:gap-x-8 lg:h-[320px] ">
          <a *ngFor="let product of categories "  class="group cursor-pointer">
            <div class="aspect-h-3 aspect-w-4 w-full   overflow-hidden rounded-lg bg-gray-300 hover:bg-gray-400 xl:aspect-h-16 xl:aspect-w-13">
            
              <img [src]="product.image"  [alt]="product.name" class="h-full w-full object-cover group-hover:opacity-75" >
            </div>
            <h3 class="mt-4 text-base font-bold text-gray-700 uppercase text-center">{{ product.name }}</h3>
          
          </a>
        </div>
       
        
        
     
    </div>
  </div>
</div>

<div class="relative   lg:mt-[1300px] xl:mt-96  bg-white-900 py-24 sm:py-32 mb-[-68px]">
  <div class="absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-pink-900 to-blue-900 opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-pink-900 to-blue-900 opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
        Elevate Your Style with Our Exclusive Partners
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-700">
        We team up with world-renowned brands to bring you the finest fashion and accessories, crafted for elegance and sophistication.
      </p>
      
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <dl class="mt-16 grid grid-cols-2 gap-4 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4" id="stats">
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-700">Brands</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-black" [@countUp]="isVisible ? 'active' : 'inactive'">{{stats.brands}}</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-700">Products</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-black" [@countUp]="isVisible ? 'active' : 'inactive'">{{stats.products}}+</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-700">Experience</dt>
          <dd class="text-3xl  leading-9 tracking-tight text-black text-xl" [@countUp]="isVisible ? 'active' : 'inactive'"><span class="font-bold text-3xl">{{stats.experience}}</span> years</dd>
        </div>
        <div class="flex flex-col-reverse">
          <dt class="text-base leading-7 text-gray-700">Clients</dt>
          <dd class="text-3xl font-bold leading-9 tracking-tight text-black" [@countUp]="isVisible ? 'active' : 'inactive'">{{stats.clients}}+</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
